nomad:
  bin_dir: /usr/bin
  config_dir: /etc/nomad
  config:
    data_dir: /var/lib/nomad
    server:
      enabled: True
      bootstrap_expect: 3
      encrypt: "AaABbB+CcCdDdEeeFFfggG=="
    client:
      enabled: True
    consul:
      ssl: True
      address: "{{grains['id']}}:8543"
      token: "deadbeef-dead-beef-dead-beefdeadbee"
      ca_file: "/srv/certs/ca.crt"
      cert_file: "/srv/certs/{{grains['id']}}.pem"
      key_file: "/srv/certs/{{grains['id']}}.key"
      server_auto_join: True
      client_auto_join: True
    tls:
      http: True
      rpc: True
      ca_file: "/srv/certs/ca.crt"
      cert_file: "/srv/certs/{{grains['id']}}.pem"
      key_file: "/srv/certs/{{grains['id']}}.key"
      verify_server_hostname: True
